@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	color: black;
}
.menu-content{
	display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.text{
	font-size: 19px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.text:hover{
	color: #E12919;
}
.text-2{
	font-size: 13px;
	color: black;
	text-transform: uppercase;
}
.text-2:hover{
	color: #E12919;
}
.line{
	width: 50px;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin-bottom: 5px;
}

.heading-1{
	font-size: 80px;
	font-weight: 700;
}
.heading-2{
	font-size: 48px;
	font-weight: 700;
}
.heading-3{
	font-size: 28px;
	font-weight: 700;
}
.heading-4{
	font-size: 22px;
}
.footer-h3{
	font-size: 24px;
	padding-bottom: 20px;
	color: white;
}
p{
	font-size: 18px;
}
.right-arrow{
	position: absolute;
    bottom: 10px;
    right: 8%;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    transform: translate(-8%, 0);
}
.what-we-do-content{
	position: relative;
}
.discuss-next-project-section{
	background-color: #F8F8F8;
	padding-top: 80px;
	margin-top: 80px;
}
.subject{
	width: 100%;
	margin-top: 30px;
}
.phone{
	margin-top: 15px;
}
.border{
	border-bottom: 1px solid black;
}
.submit{
	background-color: black;
	color:#fff;
	padding: 8px 16px;
	margin-top: 15px;
}
.footer-content{
	color: white;
	padding-top: 80px;
}
.footer-content a{
	color: white;
	font-size: 19px;
}
.footer-content p{
	padding-top: 15px;
	padding-bottom: 30px;
	color: white;
	font-size: 14px;
}
footer{
	background-image: url('../images/a1accaf.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	margin-top: 80px;
}